## 백신접종률 크롤링

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [2]:
driver = webdriver.Chrome('C:/Users/L/수업실습/chromedriver/chromedriver.exe')
url = 'https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&sq=&o=&q=%EB%B0%B1%EC%8B%A0+%EC%A0%91%EC%A2%85+%ED%98%84%ED%99%A9'
driver.get(url)

In [3]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

### 1. 지역명 가져오기

In [4]:
v_percent = soup.select('div:nth-child(4) > div.cont_info > div._cont_map > div:nth-child(3)')[0]

In [5]:
per_data1 = []

v = v_percent.select('li > a > span.txt_location')

for i in v:
    local_name = i.text
    per_data1.append([local_name])

In [6]:
import pandas as pd
columns = ['지역명']
pd_data1 = pd.DataFrame(per_data1, columns = columns)
pd_data1

   지역명
0   제주
1   경남
2   경북
3   전남
4   전북
5   충남
6   충북
7   강원
8   경기
9   세종
10  울산
11  대전
12  광주
13  인천
14  대구
15  부산
16  서울

### 2. 백신접종률 가져오기

In [7]:
per_data2 = []

pers = v_percent.select('li > a > strong.txt_rate')

for per in pers:
    percent = per.text
    percent = percent.strip('%')
    per_data2.append([percent])

In [8]:
import pandas as pd
columns = ['백신접종률']
pd_data2 = pd.DataFrame(per_data2, columns = columns)
pd_data2

    백신접종률
0   38.28
1   38.95
2   42.22
3   48.10
4   44.87
5   42.22
6   41.41
7   44.60
8   36.33
9   32.16
10  36.54
11  36.78
12  39.17
13  36.43
14  36.01
15  40.86
16  39.15

In [9]:
local_per = pd_data1.join(pd_data2)
local_per

   지역명  백신접종률
0   제주  38.28
1   경남  38.95
2   경북  42.22
3   전남  48.10
4   전북  44.87
5   충남  42.22
6   충북  41.41
7   강원  44.60
8   경기  36.33
9   세종  32.16
10  울산  36.54
11  대전  36.78
12  광주  39.17
13  인천  36.43
14  대구  36.01
15  부산  40.86
16  서울  39.15

In [10]:
local_per2 = local_per.sort_values('지역명')
local_per2

   지역명  백신접종률
7   강원  44.60
8   경기  36.33
1   경남  38.95
2   경북  42.22
12  광주  39.17
14  대구  36.01
11  대전  36.78
15  부산  40.86
16  서울  39.15
9   세종  32.16
10  울산  36.54
13  인천  36.43
3   전남  48.10
4   전북  44.87
0   제주  38.28
5   충남  42.22
6   충북  41.41

In [11]:
local_per

   지역명  백신접종률
0   제주  38.28
1   경남  38.95
2   경북  42.22
3   전남  48.10
4   전북  44.87
5   충남  42.22
6   충북  41.41
7   강원  44.60
8   경기  36.33
9   세종  32.16
10  울산  36.54
11  대전  36.78
12  광주  39.17
13  인천  36.43
14  대구  36.01
15  부산  40.86
16  서울  39.15

### 3. 날짜(today) 추가

In [12]:
from datetime import datetime

today = datetime.today()
month = today.month
day = today.day
date = str(month) + '/' + str(day)
date

'9/13'

In [13]:
day_list = []
a = 17
while a:
    day_list.append(date)
    a = a-1

In [14]:
pd_data5 = pd.DataFrame(day_list, columns = ['날짜'])

In [15]:
local_per3 = local_per2.join(pd_data5)

In [16]:
local_per3.to_csv('./백신접종률/local_per0913.csv', index = False)

In [17]:
driver.quit()